:root {
    --white: #fff;
    --mutedText: #444444;
    --boxShadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.popular, .menu {
    background-color: var(--whited);
    box-shadow: var(--boxShadow);
    border-radius: 0.5rem;
    max-width: 1160px;
    margin: 1.5rem auto;
}

.heading {
    text-align: center;
    padding: 1rem 0;
    color: var(--mutedText);
    font-size: 2rem;
    user-select: none;
}

.heading span {
    color: var(--orange);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.card {
    border-right: 5px solid var(--orange);
    background-color: var(--white);
    box-shadow: var(--boxShadow);
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 12rem;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 1.5rem;
}

.price {
    color: var(--mutedText);
}

.serves {
    color: var(--mutedText);
    font-size: 0.8rem;
}

.special-combos {
    max-width: 1160px;
    margin: 1.5rem auto;
}

.special-combos .heading, .about-us .heading {
    margin: 8rem 0 1rem 0;
}

.special-combos .card-container{
    grid-template-columns: 1fr;
}

.menu .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3rem;
}

.about-us {
    margin-bottom: 6rem;
}

.opening-hours, .location {
    margin: 2rem 0;
    text-align: center;
}

.opening-hours h3, .location h3 {
    user-select: none;
}

.opening-hours h3:hover, .location h3:hover {
    color: var(--orange);
}



@media screen and (max-width: 1220px) {
    .popular, .menu {
        margin: 1.5rem;
    }

    .menu .gallery img{
        width: 25rem;
    }
}



@media screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 900px) {
    .menu .gallery {
        grid-template-columns: 1fr;
    }

    .menu .gallery img {
        width: 40rem;
    }
}

@media screen and (max-width: 750px) {
    .menu .gallery img {
        width: 29rem;
    }
}

@media screen and (max-width: 550px) {
    .card {
        grid-template-columns: 1fr;
    }

    .card img {
        width: 100%
    }

    .info {
        margin: 1rem;
    }

    .menu .gallery img {
        width: 18rem;
    }
}