section {
    padding: 0 1.5rem 0 1.5rem;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    background: url(/img/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1160px;
    margin: 0 auto;
}

.home .content {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .content h3 {
    font-size: 3rem;
    color: var(--orange);
}

.content .order-open {
    display: inline-block;
    padding: 0.4rem 2rem;
    border: .2rem solid var(--orange);
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;
    width: fit-content;
    background-color: var(--orange);
}

.content .order-open:hover {
    color: #000;
    background-color: var(--white);
}

.home .image {
    padding-top: 6rem;
}

.home .image img {
    width: 100%;
}

.modal {
    text-decoration: none;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

.modal p {
    text-align: center;
}

.orderrr {
    user-select: none;
}

.num {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: var(--orange);
}

.swiggy {
    margin: 3rem 0 0 0 ;
}

.swiggy {
    margin: 2rem 0 1rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
}

.zomato {
    margin: 1rem 0 1rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
}

.swiggy p, .zomato p {
    margin-left: 2rem;
}

.order-close {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 1.7rem;
    cursor: pointer;
}




@media screen and (max-width: 860px){
    .home .content h3 {
        font-size: 2.5rem;
    }

    .home .content p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 700px){
    section {
        padding: 0 1.5rem 0 1.5rem;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .home .content {
        padding-top: 5rem;
    }

    .home .image {
        padding-top: 1rem;
    }

    .home .image img {
        width: 100%;
    }
}